main {
  min-height: calc(100vh - 50px);
  padding: 20px;
}
footer {
  height: 50px;
}
th{
    
}
td.color{
   background-color:lightgrey;
    font-weight: bold;
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    height: 50px;
}
footer p{
    padding-top: 10px;
    padding-left: 10px;
}
header{
    font-family: sans-serif;
        background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}