body{
    background-color:white;
}
tfoot{
    background-color: lightcyan
}
table{
    background-color: lightblue
}
th{
    color:blue
}
main{
    font-family: "times new roman", sans-serif
}
h1{
    font-family: "times new roman", monospace
}
h1{
    border-bottom: 5px solid skyblue
}
td{
    border-bottom: 1px solid black 
}