body{
    background-color:white;
}
tfoot{
    background-color: lightcyan
}
table{
    background-color: lightblue
}
th{
    color:blue
}
main{
    font-family: monospace
}
h1{
    font-family: monospace
}
h1{
    border-bottom: 5px solid skyblue
}